.container
{
    height: 500px;
    width: 400px;
    background-color:white;
    position: absolute;
    top: 70px;
    left: 35%;
    border-radius: 12px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
    
}
.flname{
    
    margin-top: 15px;
    
    
}
.first-last-name{
    margin-left: 14px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #ccc;
    display :inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none;
    font-size: 80%;
}
.first-last-name:focus
{   
    border: 1px solid #0652DD;
}
.cancel-signup-button-div{
    
    margin-top: 30px;
    height: 50px;
}
.cancel-button{
    margin-left: 45px;
    height: 50px;
    width: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
    color: white;
    font-weight: bold;
    background-color: #e84118;
    border:none;
    border-radius: 7px;

}
.cancel-button:hover{
    background-color: #b33939;
}
.signup2-button{
    height: 50px;
    width: 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 120%;
    color: white;
    font-weight: bold;
    background-color: #2ecc71;
    border:none;
    border-radius: 7px;
}
.signup2-button:hover{
    background-color: #16a085;
}
.goback{
    text-decoration: none;
    color: white;
}